<script>
    var WithFParams = {
    apiHost: 'https://api.feling.io',
    postJson: function (path, data, resultHandler) {
        data.accessToken = localStorage.accessToken
        var url = this.apiHost + path
        if (path.startsWith('http')) {
            url = path
        }
        return $.ajax({
            type: 'POST',
            contentType: 'application/json;charset=utf-8',
            url: url,
            data: JSON.stringify(data),
            success: resultHandler,
            dataType: 'json'
        })
    },
    postForm: function (path, data, resultHandler) {
        data.accessToken = localStorage.accessToken
        var url = this.apiHost + path
        if (path.startsWith('http')) {
            url = path
        }
        return $.ajax({
            type: 'POST',
            url: url,
            data: data,
            success: resultHandler,
            dataType: 'json'
        })
    },
}
</script>
