<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="hostname" content="www.ocarina-diary.com">
<meta name="description" content="{% if page.description %}{{ page.description }}{% endif %} -- 记录并分享陶笛学习的过程、心得体会。乐谱、伴奏、演奏视频 尽在“陶笛日记”。">
<meta name="keywords" content="{{ page.keywords | join: ',' }}">
<title>
    {{ page.title }}
</title>

<link rel="stylesheet" href="//cdn.feling.io/css/uikit.min.css/" media="all">
{% include x-css.html %}

<link rel="icon" type="image/png" href="/images/favicon100.png">

<script src="//cdn.feling.io/js/jquery-3.3.1.min.js"></script>
<script src="//cdn.feling.io/js/uikit.min.js"></script>
<script src="//cdn.feling.io/js/vue.min.js"></script>

<script src="//cdn.feling.io/js/components/grid.min.js"></script>

<!-- <link rel="stylesheet" href="//cdn.feling.io/css/components/tooltip.min.css" media="all"> -->
<!-- <script src="//cdn.feling.io/js/components/tooltip.min.js"></script> -->

{% if page.layout contains "-right" %}<!-- 放到 uikit.js 之后 -->
{% include zan-head.html %}
{% endif %}

{% if page.layout == "notation-right" %}
<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "Product",
    "name" : "{{ page.title }}",
    "description" : "{% if page.description %}{{ page.description }}{% endif %} -- 记录并分享陶笛学习的过程、心得体会。乐谱、伴奏、演奏视频 尽在“陶笛日记”。",
    "brand" : {
        "@type" : "Brand",
        "name" : "陶笛日记",
        "logo" : "https://www.ocarina-diary.com/images/favicon100.png"
    }
}
</script>
{% endif %}