<style>
    hr {
        margin: 0;
    }
    .x-container {
        padding: 10px;
    }
    #content {
        min-height: calc(100% - 160px);
        overflow-x: hidden;
    }
    .ah-spinner {
        background-image: url(https://cdn.feling.io/spinner.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 14px;
        height: 14px;
        vertical-align: middle;
        display: inline-block;
        -webkit-animation: uk-rotate 0.7s infinite linear;
        animation: uk-rotate 0.7s infinite linear;
    }
    .ah-card-title {
        pointer-events: none;
        background: #0593d3;
        color: #fff;
        padding: 5px 15px;
    }
    .ah-card-content {
        padding: 5px;
    }
</style>