---
title: 如果有你在 - キミがいれば
layout: notation-right
keywords: [陶笛日记, 陶笛, 五线谱, 简谱, 名侦探柯南, 名探偵コナン, 如果有你]
description: 动漫 名侦探柯南『名探偵コナン』的主题音乐。日文名：キミがいれば。中文意思：如果有你在。由 大野克夫 作曲，高柳恋 作词。歌手 伊织 的代表作。

# 乐谱列表页展示的标题、描述
title-mini: 如果有你在
description-mini: 日文名：キミがいれば。名侦探柯南的主旋律。

connotation: true
publish: true
data: 
    left:
        - title: 简介
          switchOff: false
          content: |
              <p style="margin:0;padding: 5px 12px 0 12px;font-size:12px;">
                  动漫 名侦探柯南『名探偵コナン』的主题音乐。<br/>
                  日文名：キミがいれば。<br/>
                  中文意思：如果有你在。<br/>
                  由 大野克夫 作曲，高柳恋 作词。<br/>
                  歌手 伊织 的代表作。<br/>
              </p>

        - title: 伴奏
          switchOff: true
          content: |
            <div v-if="accessible">
                <iframe width="100%" src="https://www.youtube.com/embed/URBLeJfQOJA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div v-else>您的网络环境无法访问 YouTube</div>

        - title: 演奏
          switchOff: true
          content: |
            <div v-if="accessible">
                <iframe width="100%" src="https://www.youtube.com/embed/JPVkriJDNUA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div v-else>您的网络环境无法访问 YouTube</div>
    right:
        - tabName: 五线谱
          text: |
            五线谱图片转载自: https://ototama.com/music/pops/score.php?id=280
          images: [20-1.png, 21-1.png]

        - tabName: 简谱
          text: 
          images: [10-3.svg, 11-7.svg]

---

